* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
}

body {
    pad: 10px;
    margin: 20px;
}

.title {
    background-color: skyblue;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

header {
    color: black;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

p{
    padding: 10px 15px;
    text-align: center;
}

.footer {
    background-color: skyblue;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 30px;
    font-size: 18px;
} 

.container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #e0e0e0;
    margin: 30px;
  }
  
  .content {
    max-width: 800px;
    font-family: Arial, sans-serif;
    padding:30px;
   
  }
  
  .insta{
    background-color:skyblue;
  }

  @media (max-width: 600px) {
    .container {
      flex-direction: column;
    }

    header {
      flex-direction: column;
      align-items: flex-start;
    }

    nav {
      margin-top: 10px;
    }
  }

/* .container img{
  transition: transform 0.3s ease;
} */
img {
  transition: transform 0.3s ease; 
}

img:hover {
  transform: scale(1.05); 
}



a:hover {
  color: rgb(139, 0, 9);
}
